.logout-button {
    background-color: hsl(0, 0%, 90%);
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 0.75em;
    margin-left: 18px;
    cursor: pointer;
}

.greeting {
  margin-left: 10px;
}

.navigation-container {
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    font-size: 1.1rem;
    height: 54px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.navigation-link {
    border-bottom: 4px solid transparent;
    color: hsl(0, 0%, 45%);
    height: 50px;
    line-height: 50px;
    padding: 0px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.navigation-link:active {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 30%);
}

.navigation-link:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 30%);
}

.navigation-link.selected {
    border-bottom: 4px solid hsl(25, 100%, 50%);
    color: hsl(0, 0%, 20%);
}

.settings-container {
    align-items: center;
    border-bottom: 4px solid transparent;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
